body {
    margin: 20px 40px;
  }
  
  p {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 16px;
  }
  
  /*--- This is the CSS class for the green rectangular blocks. Note that it uses display: flex ---*/
  .wrapper {
    display: flex;
    height: 60px;
    background-color: green;
    margin-bottom: 20px;
  }
  
  /*--- flex: 1 makes it so that the div takes up all available space left in the parent element ---*/
  .redExample {
    flex: 1;
    background-color: red;
  }
  
  /*--- Since both .redExample and .blueExample have flex: 1, they will take up an equal amount of space because they meet in the middle ---*/
  .blueExample {
    flex: 1;
    background-color: blue;
  }
  
  /*--- flex-direction: row-reverse orders all child elements starting from right to left ---*/
  .emptyExample2 {
    display: flex;
    flex: 1;
    flex-direction: row-reverse;
  }
  
  .blueExample2 {
    width: 80px;
    background-color: blue;
  }
  .red3{
    display: flex;
    background-color: red;
    width: 80px;
    
  }
  .blue3{
    display: flex;
    background-color: blue;
    width: 80px;
  }
  .empty3{
    display: flex;
    justify-content: space-between;
    flex:1;
  }
  .red4{
    flex: 12;
    background-color: red;
  }
  
  /*--- Since both .redExample and .blueExample have flex: 1, they will take up an equal amount of space because they meet in the middle ---*/
  .blue4 {
    width: 80px;
    background-color: blue;
  }
  .red5{
    display: flex;
    width: 40px;
    height: 40px;
    background-color: red;
    align-items: center;
  }
  .empty5 {
    justify-content: center;
    align-items: center;
  }
  
  .red6{
    justify-content: center;
    align-items: center;
    background-color: red;
  }
  .blue6{
    display: flex;
    width: 80px;
    height: 60px;
    background-color: blue;
    align-items: center;
    justify-content: center;
  }
  .red7{
    width: 5%;
    height: 60px;
    background-color: red;
  }
  .wrapper7{
    background-color: blue;
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
  }
  .green7{
    height: 10px;
    width: 100%;
    background-color: green;  
  }
  .flex{
    display: flex;
  }
  .space{
    justify-content: space-between;
  }
  .yellow8{
    width: 55px;
    background-color: #ffa500;
  }
  .yellow9{
    width:19%;
    background-color:#ffa500;
  }
  /* TODO: Add CSS for the rest of your solution below */
  